In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#Q.1  Import pandas and read in the banklist.csv file into a dataframe called banks.
file_path = "C:\\Users\\Dhruvit\\Downloads\\banklist.csv"
pd.read_csv(file_path)

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

In [7]:
data = pd.read_csv(file_path)

In [8]:
#Q.2 Show the head of the dataframe.
data.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [9]:
#Q.3  What are the column names?
data.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [10]:
#Q.4 How many States (ST) are represented in this data set?
total_count = data['ST'].count()
print("Total count of states :",total_count)

Total count of states : 553

In [11]:
#Q.5 Get a list or array of all the states in the data set.
list_of_states = data["ST"].unique()
print(list_of_states)

['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

In [12]:
#Q.6 What are the top 5 states with the most failed banks?

# Step 1: Filter the data to only include closed banks (non-null 'Closing Date')
closed_banks = data[data['Closing Date'].notna()]

# Step 2: Group by state and count the number of closed banks in each state
state_failures = closed_banks.groupby('ST').size()

# Step 3: Sort the states by the number of failures (in descending order)
state_failures_sorted = state_failures.sort_values(ascending=False)

# Step 4: Get the top 5 states with the most failed banks
top_5_states = state_failures_sorted.head(5)

print(top_5_states)

ST
GA    93
FL    75
IL    68
CA    41
MN    23
dtype: int64

In [13]:
# Q.7 What are the top 5 acquiring institutions?
#Ans.on the basis of CERT
acquiring_institutions = data.groupby("Acquiring Institution").size()

top_5_acquiring_institutions_sorting = acquiring_institutions.sort_values(ascending = False).head(5)

print("Top 5 acquiring institutions"," ",top_5_acquiring_institutions_sorting )

Top 5 acquiring institutions   Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
dtype: int64

In [14]:
# Q.8 How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?
#How many banks has the State Bank of Texas acquired
# Corrected code to find the number of banks acquired by "State Bank of Texas"
find_State_bank_texaxs = data[data["Acquiring Institution"] == "State Bank of Texas"].count()

acquired_banks_count  = data[data["Acquiring Institution"] == "State Bank of Texas"].shape[0]

acquired_banks_in_texas_count = data[(data["Acquiring Institution"] == "State Bank of Texas") & (data["ST"] == "TX")].shape[0]

print("Total banks has the State Bank of Texas acquired are :",acquired_banks_count)

print("Total banks has the State Bank of Texas acquired which is actually in texas is :",acquired_banks_in_texas_count )

Total banks has the State Bank of Texas acquired are : 3
Total banks has the State Bank of Texas acquired which is actually in texas is : 1

In [41]:
# Q.9 What is the most common city in California for a bank to fail in?
data = pd.read_csv(file_path)

california_banks = data[data["ST"] == "CL"]

closed_banks_california = california_banks[california_banks["Closing Date"].notna()]

city_fail_counts = closed_banks_california["City"].value_counts()

top_5_cities = city_fail_counts.head(5)

print("top 5 most common city in california for a bank to fail",top_5_cities )

top 5 most common city in california for a bank to fail Series([], Name: count, dtype: int64)